{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
        <div class="about-section">
      <h1>About</h1>
      <p>
The Brighter Days Platform provides a secure environment for individuals to anonymously journal their thoughts, feelings, and experiences
          surrounding suicide and mental health. It offers a private and non-judgmental space where users can freely express themselves without fear of stigma or discrimination.
      </p><br><p>The platform's primary objective is to offer users a confidential outlet for processing their emotions and experiences. Recognizing the sensitive nature of discussing suicide and mental health,
            anonymity is a fundamental feature, allowing users to explore their feelings honestly and openly.</p>
        <br>
        <p>Moreover, the platform facilitates connections within a supportive community. Users can choose to share their entries with others who may have had similar experiences, fostering empathy, understanding, and validation.
            This community aspect promotes a sense of belonging and helps alleviate feelings of isolation and loneliness.</p>
        <br>
        <p>The Brighter Days Platform believes in the therapeutic power of journaling and aims to support individuals on their mental health journey.
            Whether users prefer to keep their entries private or share them with others, their privacy and confidentiality are prioritized.</p>
        <br>
        <p>Individuals are invited to join the Brighter Days Platform and take the first step towards healing and self-discovery.
            Their thoughts matter, and their voices deserve to be heard in a safe and supportive environment.</p>
    </div>

    <div class="row">
      <div class="column">
        <div class="card">

          <div class="container">
            <h2>Jason Yap</h2>
            <p class="title">Developer</p>
              <div>
                <img src="static/me.jpg" width="246" height="335" style="float: left;"/>
              </div>
            <p>Hi, I'm Jason, a junior at Waubonsie Valley High School interested in impacting the community through fun programming projects.</p>
            <a class="button" href="mailto:jason.yap0@gmail.com"><button class="button" href="mailto:jason.yap0@gmail.com">Email</button></a>
          </div>
        </div>
      </div>

    </div>
{% endblock %}
