{% extends "layout.html" %}

{% block title %}
    Personal Log
{% endblock %}
{% block main %}
    <h4>
        Your Personal Log of Journals
    #: {{size}}
    </h4>
    <form action="/personalLog" method="post">
    <button class="btn btn-primary" type="submit">Delete</button>
    <body>
    {% for log in logs %}
        <section class="section">
            <header class="header">
                <div>
                    <p>
                        {{log["date"]}}
                    </p>
                    <input type="checkbox" id={{log["journalid"]}} name={{log["journalid"]}}>
                    <label for={{log["journalid"]}}></label><br>
                </div>
            </header>
            <div class="card">
                <p>
                    {{log["journal"] }}
                </p>
            </div>
        </section>
    {% endfor %}
    </form>
    </body>

{% endblock %}
